<footer>
    <figure>
        <img src="/logoblack.png" alt="">
    </figure>

    <div class="socials">
        <figure>
            <img src="/Vectorsocials.png" alt="">
        </figure>

        <figure>
            <img src="/Vectorsocials-1.png" alt="">
        </figure>

        <figure>
            <img src="/Vectorsocials-2.png" alt="">
        </figure>
    </div>

    <p>Just type what's on your mind and we'll </p>
</footer>