<%- include("./includes/header") %>

<main>

    <section class="container">
        <div class="sub">

            <h3 class="neutral2">BLOG</h3>

            <h1 class="secondary-color">Get Insights.</h1>

            <h3 class="neutral2">Most calendars are designed for teams. Slate is designed 
                <br> for freelancers</h3>

            <button type="submit" href="/product-list" class="secondary-button">Buy Now</button>
        </div>
    </section>


    <section class="container">
        <div class="blog__posts">

            <div class="blog__card">
                <figure>
                    <img src="/Pictureblog.png" alt="">
                </figure>

                <div class="blog__content">
                    <p>20 JUNE 2019</p>
                    <h3>Life Tips From Top Ten 
                        Adventure Travelers</h3>
                    <p>Slate helps you see how many 
                        more days you need to work to 
                        reach.</p>
                    
                        <div class="blog__tags">
                            <p>Google</p> 
                            <p>Trending</p>
                            <p>New</p>
                        </div>
                </div>
            </div>



            <div class="blog__card">
                <figure>
                    <img src="/Pictureblog.png" alt="">
                </figure>

                <div class="blog__content">
                    <p>20 JUNE 2019</p>
                    <h3>Life Tips From Top Ten 
                        Adventure Travelers</h3>
                    <p>Slate helps you see how many 
                        more days you need to work to 
                        reach.</p>
                    
                        <div class="blog__tags">
                            <p>Google</p> 
                            <p>Trending</p>
                            <p>New</p>
                        </div>
                </div>
            </div>


            <div class="blog__card">
                <figure>
                    <img src="/Pictureblog.png" alt="">
                </figure>

                <div class="blog__content">
                    <p>20 JUNE 2019</p>
                    <h3>Life Tips From Top Ten 
                        Adventure Travelers</h3>
                    <p>Slate helps you see how many 
                        more days you need to work to 
                        reach.</p>
                    
                        <div class="blog__tags">
                            <p>Google</p> 
                            <p>Trending</p>
                            <p>New</p>
                        </div>
                </div>
            </div>

        </div>
    </section>

    


    <section class="container bg-color">

        <div class="sub">
            <h2 class="neutral1">A modular UI Kit</h2>

            <h4 class="neutral1">Most calendars are designed for teams. 
                Slate is designed for freelancers</h4>

                <div>
                    <button class="secondary-button">Buy now</button>
                <button class="secondary-button2">Try for free</button>
                </div>
        </div>

    </section>

</main>


<%- include("includes/footer") %>
</body>
</html>