    <%- include("./includes/header") %>

    <main>
        <section class="hero__section">
            <div class="hero__content">
                <h1>Lightning fast prototyping </h1>
                <p>Most calendars are designed for teams. Slate is designed 
                    for freelancers</p>
                    <button class="primary-button">Try For Free</button>

                <figure>
                    <img src="/screencontent.png" alt="">
                </figure>
            </div>
        </section>


        <section class="container">

            <div class="center-div">
                <h2 class="secondary-color">AMAZING FEATURES</h2>
                <p>Most calendars are designed for teams. 
                   <br> Slate is designed for freelancers</p>
            </div>

        </section>
    </main>
</body>
</html>