<%- include("./includes/header") %>

<section class="container">
    <div class="sub">

        <h3 class="neutral2">TYPE</h3>

        <h1 class="secondary-color">Powerful. Simplicity...</h1>

        <h3 class="neutral2">Most calendars are designed for teams. Slate is designed 
            <br> for freelancers</h3>

        <button type="submit" href="/product-list" class="secondary-button">Buy Now</button>
    </div>
</section>



<%- include("./includes/footer") %>