<%- include("./includes/header") %>

<section class="container">


    <div class="sub">

        <h3 class="neutral2">TYPE</h3>

        <h1 class="secondary-color">Powerful. Simplicity...</h1>

        <h3 class="neutral2">Just type what's on your mind</h3>

        <button type="submit" href="/product-list" class="secondary-button">Buy Now</button>
    </div>

     <section>
        <div>

            <section>
                
            </section>

        </div>
     </section>
</section>






<%- include("./includes/footer") %>