<%- include("./includes/header") %>

<main>

    <section class="container">
        <div class="sub">

            <h3 class="neutral2">PRICING</h3>

            <h1 class="secondary-color">Pricing that <span class="primary-color"> scales you </span></h1>

            <h3 class="neutral2">Most calendars are designed for teams. Slate is designed 
                <br> for freelancers</h3>

            <button type="submit" href="/product-list" class="secondary-button">Buy Now</button>
        </div>
    </section>

    <section class="pr">
        <div class="pr-db">
            <h4>Monthly</h4>
        </div>

        <div class="pr-db2">
            <h4>Yearly ( save 20%)</h4>
        </div>
    </section>


    <section class="price">

        <div class="price-card">
            <div>
                <h4>FREE</h4>
                <p>Organize across all 
                    apps by hand</p>
            </div>

            <div class="amount">
                <h2 class="primary-color">0</h2>

                <div>
                    <h4 class="primary-color">$</h4>
                    <h4 class="primary-color">Per Month</h4>
                </div>
            </div>


            <div >
                <div class="price-features">
                    <figure>
                        <img src="/green.png" alt="">
                    </figure>
    
                    <p>Unlimited product updates
                    </p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/green.png" alt="">
                    </figure>
    
                    <p>Unlimited Shares</p>
                </div>


                <div class="price-features">
                    <figure>
                        <img src="/green.png" alt="">
                    </figure>
    
                    <p>Every feature in Figmaland</p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/ash.png" alt="">
                    </figure>
    
                    <p>1GB  Cloud storage</p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/ash.png" alt="">
                    </figure>
    
                    <p>Email and community support</p>
                </div>



                <button class="secondary-button">Order Now</button>
            </div>
        </div>



        <div class="price-card2">
            <div>
                <h4>FREE</h4>
                <p>Organize across all 
                    apps by hand</p>
            </div>

            <div class="amount">
                <h2 class="neutral1">10</h2>

                <div>
                    <h4 class="neutral1">$</h4>
                    <h4 class="neutral1">Per Month</h4>
                </div>
            </div>


            <div >
                <div class="price-features">
                    <figure>
                        <img src="/white.png" alt="">
                    </figure>
    
                    <p>Unlimited product updates
                    </p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/white.png" alt="">
                    </figure>
    
                    <p>Unlimited Shares</p>
                </div>


                <div class="price-features">
                    <figure>
                        <img src="/white.png" alt="">
                    </figure>
    
                    <p>Every feature in Figmaland</p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/white.png" alt="">
                    </figure>
    
                    <p>1GB  Cloud storage</p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/ash.png" alt="">
                    </figure>
    
                    <p>Email and community support </p>
                </div>



                <button class="primary-button">Order Now</button>
            </div>
        </div>


        <div class="price-card">
            <div>
                <h4>FREE</h4>
                <p>Organize across all 
                    apps by hand</p>
            </div>

            <div class="amount">
                <h2 class="primary-color">99</h2>

                <div>
                    <h4 class="primary-color">$</h4>
                    <h4 class="primary-color">Per Month</h4>
                </div>
            </div>


            <div >
                <div class="price-features">
                    <figure>
                        <img src="/green.png" alt="">
                    </figure>
    
                    <p>Unlimited product updates
                    </p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/green.png" alt="">
                    </figure>
    
                    <p>Unlimited Shares</p>
                </div>


                <div class="price-features">
                    <figure>
                        <img src="/green.png" alt="">
                    </figure>
    
                    <p>Every feature in Figmaland </p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/ash.png" alt="">
                    </figure>
    
                    <p>1GB  Cloud storage</p>
                </div>

                <div class="price-features">
                    <figure>
                        <img src="/ash.png" alt="">
                    </figure>
    
                    <p>Email and community support </p>
                </div>



                <button class="secondary-button">Order Now</button>
            </div>
        </div>



    </section>

    


    <section class="container bg-color">

        <div class="sub">
            <h2 class="neutral1">A modular UI Kit</h2>

            <h4 class="neutral1">Most calendars are designed for teams. 
                Slate is designed for freelancers</h4>

                <div>
                    <button class="secondary-button">Buy now</button>
                <button class="secondary-button2">Try for free</button>
                </div>
        </div>

    </section>

</main>


<%- include("includes/footer") %>
</body>
</html>