<%- include("./includes/header") %>

<main>

    <section class="container">
        <div class="sub">

            <h3 class="neutral2">PRODUCT</h3>

            <h1 class="secondary-color">A modular UI Kit for
                <br> <span class="primary-color"> quick deployment| </span></h1>

            <h3 class="neutral2">Most calendars are designed for teams. Slate is designed 
                <br> for freelancers</h3>

            <button class="secondary-button">Buy Now</button>
        </div>
    </section>


    <section class="container">

        <h3>Featured Plugins</h3>

        <a href=""> Learn More</a>
    </section>


    <section class="product__listing">

        <div class="product__card">

            <figure>
                <img src="/Groupsub.png" alt="">
            </figure>

            <div class="product__content">
                <h4>Full Time</h4>

                <p>Most calendars are designed 
                    for teams. Slate is designed 
                    for freelancers</p>

                    <button class="secondary-button">Try for free</button>
            </div>

        </div>



        
        <div class="product__card">

            <figure>
                <img src="/Groupsub.png" alt="">
            </figure>

            <div class="product__content">
                <h4>Full Time</h4>

                <p>Most calendars are designed 
                    for teams. Slate is designed 
                    for freelancers</p>

                    <button class="secondary-button">Try for free</button>
            </div>

        </div>


        
        <div class="product__card">

            <figure>
                <img src="/Groupsub.png" alt="">
            </figure>

            <div class="product__content">
                <h4>Full Time</h4>

                <p>Most calendars are designed 
                    for teams. Slate is designed 
                    for freelancers</p>

                    <button class="secondary-button">Try for free</button>
            </div>

        </div>

    </section>


    <section class="container bg-color">

        <div class="sub">
            <h2 class="neutral1">A modular UI Kit</h2>

            <h4 class="neutral1">Most calendars are designed for teams. 
                Slate is designed for freelancers</h4>

                <div>
                    <button class="secondary-button">Buy now</button>
                <button class="secondary-button2">Try for free</button>
                </div>
        </div>

    </section>

</main>


<%- include("includes/footer") %>
</body>
</html>